page-events {
  .social-cards ion-col {
    padding: 0;
  }

  .button-ios {
    font-size: 1.4rem;
  }

  img{
    height: 250px;
  }

  .card-md {
    h2 {
      font-weight: bold;
      font-size: medium;
    }
    p{
      font-size: medium;
    }
  }

  margin: 0%;
}
